/* 
    Created on : Oct 7, 2016, 5:43:00 PM
    Author     : bcarp
*/

.post {
    
}

.post .meta {
    color: #aaa;
}

.post img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 400px;
}

.post figcaption {
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

.post_preview {
    width: 100%;
}

.post_preview tr {
    border: 1px black solid;
}

.post_preview th, .post_preview td {
    text-align: center;
}

.youtubeVideo {
	margin-left: auto;
	margin-right: auto;
	display: block;
}