<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 text-left">
                <h2 class="section-heading">Brycon Carpenter</h2> <br>
            </div>
            <div class ="col-lg-8 col-md-6 col-sm-6 col-xs-12 console-top text-left">
                @Brycon_Carpenter
                <div class="console">
                    <p>% BryconC.age<br>
                        &nbsp;&nbsp;&nbsp; 21</p>
                    <p>% BryconC.interests<br>
                        &nbsp;&nbsp; ["Gaming", "Film", "Cars", "Programming"]</p>
                    <p>% BryconC.homeTown<br>
                        &nbsp;&nbsp; "Thomasville, NC"</p>
                    <p>% BryconC.education<br>
                        &nbsp;&nbsp; "Appalachian State University, Boone, NC"</p>
                    <p>% BryconC.fieldOfStudy<br>
                        &nbsp;&nbsp; "Computer Science"</p>
                    <p>% BryconC.expectedGraduation<br>
                        &nbsp;&nbsp; "May 2017"</p>
                    <br>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <img class="img-rounded pull-right" src="/img/personal/profile_pic.jpg" alt="Picture of me." height="450" width="266">
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <link href="/css/about.css" rel="stylesheet" type="text/css"/>
</section>