<div class="container">
    <section class="primary_bg">
        <h2>Blog Posts</h2>
        <p class="meta">These blogs were written for my CS4100 Senior Seminar class. The class fulfilled the university requirement for a
            fourth year English class, and focused primarily on speaking and writing ethical analysis. These blogs will serve as a
            reflection point about the assignments posed and will be updated weekly.</p>
        <table class="post_preview">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Date Published</th>
                    <th>Thumbnail</th>
                </tr>
            </thead>
            <tbody>
                {% for post in site.posts %}
                <tr>
                    <td>
                        <a href="{{ post.url }}">
                            <div class="post_link">
                                {{post.title}}
                            </div>
                        </a>
                    </td>
                    <td>
                        {{ post.date | date: '%d %B %Y' }}
                    </td>
                    <td>
                        <img width="200px" height="200px" src="{{site.baseurl}}/img/blog_pics/{{post.thumbnail}}">
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
    <link rel="stylesheet" href="{{baseurl}}/css/post.css">
</div>