<div class="container">
    <section id="resume">
        <section class="resume-section">
            <h2 class="section-heading">Education</h2>
            <div class="row">
                <p class="col-lg-4">2013-2017</p>
                <div class="col-lg-8"><a href="http://www.appstate.edu/about/">Appalachian State University</a> <span class="pull-right">Cumulative GPA: 3.95</span><br>
                    Bachelor of Science in Computer Science <span class="pull-right">Major GPA: 4.00</span><br>
                    Minors: Film Studies, Mathematics<br><br>

                    <h4>Highlighted Courses</h4>
                    <ul>
                        <li>Client- and Server-side Web Programming</li>
                        <li>Computer Systems I & II</li>
                        <li>Cybersecurity Fundamentals</li>
                        <li>Linear Algebra</li>
                        <li>Software Engineering</li>
                    </ul>
                </div>

            </div>
        </section>
        <section class="resume-section">
            <h2 class="section-heading">Experience</h2>
            <div class="row">
                <p class="col-lg-4">2014-present</p>
                <div class="col-lg-8"><strong>ST Instructional Assistant</strong>, <a href="http://compsci.appstate.edu/">Appalachian State University Computer Science Department</a> <br>
                    <em>Courses: Introduction to Computer Systems, Software Engineering</em>

                    <ul>
                        <li>Collaborated with course professor to refine assignments to best represent material and appeal to student learning styles</li>
                        <li>Critiqued student submitted material, and provided examples of implemented concepts</li>
                    </ul>
                </div>

            </div>
        </section>
        <section class="resume-section">
            <h2 class="section-heading">Skills/Proficiencies</h2>
            <div class="row">
                <div class="col-lg-4">
                    Platforms:<br>
                    <ul style="list-style-type: none">
                        <li>Windows</li>
                        <li>Linux</li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    Programming Languages:<br>
                    <ul style="list-style-type: none">
                        <li>Java</li>
                        <li>Python</li>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>JavaScript</li>
                        <li>C</li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    Development Tools:<br>
                    <ul style="list-style-type: none">
                        <li>Django</li>
                        <li>Eclipse</li>
                        <li>PyCharm</li>
                        <li>Visual Studio</li>
                        <li>NetBeans</li>
                    </ul>
                </div>
            </div>
        <section class="resume-section">
            <h2 class="section-heading">Projects</h2>
            <p class="text-center">
                Visit my <a href="projects.html">projects page</a> to learn more about my specific projects
            </p>
            
        </section>
    </section>
</div>