<!DOCTYPE html>
<html lang="en">

    {% include head.html %}
    <body id="page-top">
        {% include nav.html %}
        {% include about_header.html %}
        {% include resume.html %}
        <div class="container">
            <br>
            <h2 class="section-heading">Computer Science Through Gaming</h2>
            <p class="text-muted">My experience with computer science really began as a gamer. With my first gaming console being the GameBoy Color,
                I slowly accumulated more and more gaming experience, rising up the ladder of consoles (N64, PS2, GBC, DS, Xbox 360, PS3, Xbox One). Somewhere along
                the way I was introduced to PC gaming and MMOs. My all time favorite MMO became RuneScape when I started playing in 2002. 
            </p>

            <p class="text-muted">Then when I was around 10 I found RuneScape private servers, copies of Runescape servers written in Java that were able
                to be modified and played locally. This is where I first fell in love with programming, being able to control my favorite
                game within lines of code. Of course, starting out I had absolutely no idea what I was doing and basically just mimicked 
                the existing code structures. Later, I began to understand these structures and the language itself, opening the door for the field of Computer Science.
            </p>
        </div>
        
        {% include footer.html %}

        {% include scripts.html %}
    </body>

</html>